@model List<Teacher>;

<h3>List of Teachers</h3>
<br />
<a class="btn btn-primary" asp-action="Create">New Teachers</a>
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th style="width:10%;">Name</th>
            <th>Email</th>
            <th >Phone</th>
            <th>Salary</th>
            <th>Course_Title</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@counter</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Salary</td>
                <td>@item.Course_Title</td>
             
                <td>
                    <a class="btn btn-success"  asp-action="Edit" asp-route-id="@item.id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
            counter++;

        }
    </tbody>
</table>
